/*commun*/
h1 {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  color: #000000;
  text-shadow:
    0 0 4px #00e5ff,
    0 0 8px #000000,
    0 0 16px #ff2bd6;
}
/*commun*/
h2 {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  color: #000000;
  /* text-shadow:
    0 0 4px #000000,
    0 0 8px #565656,
    0 0 16px #000000; */
}
/*background*/
body {
  margin: 0;
  min-height: 100vh;
  background-color: #0C0F2D;

  background-image:
    linear-gradient(
      -2deg,
      rgba(255, 255, 255, 1) 0 50px,
      transparent 1px 50px
    ),
    linear-gradient(270deg,
      rgba(255, 255, 255, 1) 0 10px,
      transparent 1px 50px
    ),
      linear-gradient(
      rgba(255, 255, 255, 1) 0 15px,
      transparent 1px 50px
    ),
  linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0 50px,
      transparent 1px 50px
    ),
      linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0 60px,
      transparent 1px 37px
    ),
        linear-gradient(
      
      rgba(0, 0, 0, 0.5) 0 20px,
      transparent 1px 37px
    ),    linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.5) 0 15px,
      transparent 1px 37px
    ),    linear-gradient(
      -2deg,
      rgba(0, 0, 0, 0.5) 0 60px,
      transparent 1px 37px
    ),
      repeating-linear-gradient(
      30deg,
      rgba(255, 43, 214, 0.50) 0 1px,
      transparent 4px 6px
    ),
        repeating-linear-gradient(
      1deg,
     rgba(0, 229, 255, 0.35)0 1px,
      transparent 4px 24px
    ),
    repeating-linear-gradient(
      7deg,
      rgba(240, 232, 42, 0.62) 0 1px,
      transparent 4px 37px
    ),

    repeating-linear-gradient(
      0deg,
      rgba(255, 43, 214, 0.50) 0 1px,
      transparent 1px 6px
    ),
        repeating-linear-gradient(
      41deg,
     rgba(0, 229, 255, 0.35)0 1px,
      transparent 1px 24px
    ),
  
    repeating-linear-gradient(
      97deg,
      rgba(240, 232, 42, 0.62) 0 1px,
      transparent 1px 37px
    ),
    radial-gradient(circle at 13% 18%, rgba(255, 43, 214, 0.2) 0 920px, transparent 92px),
    radial-gradient(circle at 85% 15%, rgba(255, 43, 214, 0.18) 0 92px, transparent 1222px),
    linear-gradient(-135deg, rgba(240, 232, 42, 0.18) 0 12%, transparent 20% 100%),
    linear-gradient(135deg, rgba(240, 232, 42, 0.18) 0 12%, transparent 12% 100%),
    linear-gradient(135deg, rgba(240, 232, 42, 0.60) 0 12%, transparent 80% 100%);

      
}

/*nav*/
.nav-sticker {
  width: 75%;
  margin: 40px auto;
  position: relative;
  transform: rotate(-1deg);
}

/*nav*/
/* épaisseur blanche du papier */
.nav-sticker::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(7px, 7px);
  background: white;
  border-radius: 28px;
  z-index: 0;
  
    clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    82% 100%,
    82% 100%,
    62% 100%,
    58% 70%,
    0% 70%);
}

/*nav*/
/* ombre générale */
.nav-sticker::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(14px, 14px);
  background: rgba(0, 0, 0, 0.18);
  border-radius: 28px;
  z-index: -1;

    clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    82% 100%,
    82% 100%,
    58% 100%,
    53% 70%,
    0% 70%);
    
}

/*nav*/
nav {
  position: relative;
  z-index: 1;

  min-height: 90px;
  background: #f0e82a;
  border: 8px solid white;
  border-radius: 28px;
  
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    82% 100%,
    82% 100%,
    63% 100%,
    60% 70%,
    0% 70%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;

  
}
/*nav*/
.menu-grid {
  width: 380px;
  margin-right: 13px;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);

  gap: 8px 10px;
  text-align: right;
}
/*nav*/
.menu-grid a {
  color: #111;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;

  text-shadow:
    0 0 4px #00e5ff,
    0 0 8px #00e5ff,
    0 0 16px #ff2bd6;


}
/*commun*/
.vieux-neon {
  color: #111;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;

  text-shadow:
    0 0 4px #00e5ff,
    0 0 8px #00e5ff,
    0 0 16px #ff2bd6;

  animation: vieux-neon 20s infinite;
}

@keyframes vieux-neon {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
    text-shadow:
      0 0 4px #00e5ff,
      0 0 8px #00e5ff,
      0 0 16px #ff2bd6;
  }

  20%, 24%, 55% {
    opacity: 0.35;
    text-shadow:
      0 0 2px #00e5ff,
      0 0 4px #00e5ff;
  }

   56% {
    opacity: 0.1;
    text-shadow: none;
  }
}

/*gerer ce fuck up... GHAHGAAHHHAAAAA .. commun en attendant*/
 img{width:50%;    
  /* position: absolute; */
    /* left: 6rem;
    top: 5rem;
    filter: drop-shadow(-6px 6px 0 rgba(255, 43, 214, 0.5))
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2)); */
        } 
/*commun*/
  .photo_gauche {
    /* width: 10%; */
    max-height: 500px;
    position: absolute;
    left: 10%;
    bottom: 10%;
    filter: drop-shadow(-6px 6px 0 rgba(255, 43, 214, 0.5))
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
        }
  /*commun*/
  .photo_droite {
    /* width: 50%; */
    position: relative;
    left: 47%;
    bottom: 20%;
    filter: drop-shadow(-6px 6px 0 rgba(255, 43, 214, 0.5))
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
        }


        /*nav*/
      .nom  {
        position: absolute;
        left: 10%;
        bottom: -30%;
        font-family: 'Caveat', cursive;
        font-weight: bold;
        font-style: italic;
        font-size: 3.4rem;

        color: #000000;
      }

/*contact*/
  .Contact {
    position: absolute;
    rotate: -28deg;
    right: 22%;
    top: 53%;
    color: #000000;
  
  }

  .Contact ol li {
    list-style: none;
    text-align: center;
    margin-bottom: 15px; /* Élargit l'espace vertical entre les numéros */
}
  .Contact ol li a{
    font-size: 2rem;
    font-family:Caveat, cursive;
    color: #000000;
    text-shadow:
      0 0 4px #000000,
      0 0 8px #565656,
      0 0 16px #000000;
  margin-bottom: 15px; /* Élargit l'espace vertical entre les numéros */
}

  .Contact ol li a:hover{
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-family:Caveat, cursive;
    color: #000000;
    text-shadow:

      0 0 16px #ffffff;
  margin-bottom: 15px; /* Élargit l'espace vertical entre les numéros */
}

.message {
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  background-color: #F0E82A;
  position: absolute;
  rotate: -2deg;
  left: 5%;
  bottom: -5%;
  color: #000000;
      filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
}
.message label {
  display: flex;
  margin: 8px;
  font-weight: bold;
}

.message textarea {
  width: 100%;
  height: 100px;
  font-size: 1rem;
  border: solid #ff2bd6;
  border-radius: 5px;
  resize: none;
  background-color: #f0be2a;
   
}

.message button[type="submit"] {
  background-color: #ff2bd6;
  color: #fff;
  border: 2px solid #F0E82A;
  padding: 10px 20px;
  font-family: 'Caveat', cursive;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
        filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
}

.message button[type="reset"] {
  background-color: #ff2bd6;
  color: #fff;
  border: 2px solid #F0E82A;
  padding: 10px 20px;
  font-family: 'Caveat', cursive;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
        filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
}

/*blog article*/
.blog_articles {
  max-height: 500px;
  max-width: 500px;
  overflow-y: scroll;
  padding: 1rem;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  background-color: #F0E82Acc;
  position: absolute;
  rotate: -2deg;
  right: 8%;
  top: 25%;
  border-top-left-radius: 50px;
  color: #000000;
      filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 #00e5ff80)
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
}

.fiche {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  text-align: left;
  background: #f0be2a;
  border: 6px solid #F0E82A;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: black;
        filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 #00e5ff80)
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
}

.fiche dl  {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Caveat', cursive;
  font-weight: bold;

}

.fiche dl dd {
  margin: 0;
  font-size: 1.2rem;

}

.texte p {
  max-height: 250px;
  max-width: 450px;
  overflow-y: scroll;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  background-color: none;
  position: absolute;
  rotate: -2deg;
  right: 8%;
  bottom: 10%;
  color: #000000;

}
/*portfolio*/
.portfolio {
  max-height: 500px;
  width: 500px;
  overflow-y: scroll;
  padding: 1rem;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  background-color: #F0E82Acc;
  position: absolute;
  rotate: -2deg;
  right: 8%;
  top: 25%;
  border-top-left-radius: 50px;
  color: #000000;
      filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 #00e5ff80)
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
}

.projet {

  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  text-align: left;
  background: #f0be2a;
  border: 6px solid #F0E82A;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: black;
        filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 #00e5ff80)
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
}


.projet img {
  width: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
