
/*
-- à améliorer --
j'ai essayé d'appliquer les h1-h2... mais j'ai oublié en cour de route donc c'est disparate....
*/

h1 {
  font-family: 'Caveat', cursive;
  font-size: 3rem;
  color: #000000;
  text-shadow:
    0 0 4px #00e5ff,
    0 0 8px #000000,
    0 0 16px #ff2bd6;
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  color: #000000;

}



/* 
Animation qui fait flasher ce à quoi je l'applique
le texte est mis en bold et trois shadow lui sont appliqué 
c'est avec ces shadow qu'on va venir créer l'animation a laide de.. animation
c'est nouveau donc: animation: nom de ce que je vise   durée de l'animation   nombre de boucle
*/
.vieux-neon { 
  color: #111;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;

  text-shadow:
    0 0 4px #00e5ff,
    0 0 8px #00e5ff,
    0 0 16px #ff2bd6;

  animation: vieux-neon 20s infinite;
}
/*
ici, les pourcentages servent à definir quand nous sommes dans le temps (ici 20s)
*/
@keyframes vieux-neon {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
    text-shadow:
      0 0 4px #00e5ff,
      0 0 8px #00e5ff,
      0 0 16px #ff2bd6;
  }

  20%, 24%, 55% {
    opacity: 0.35;
    text-shadow:
      0 0 2px #00e5ff,
      0 0 4px #00e5ff;
  }

   56% {
    opacity: 0.1;
    text-shadow: none;
  }
}




/*

---- cette note m'a suivi plusieurs jours ---
gerer ce fuck up... GHAHGAAHHHAAAAA .. 

j'ai raté ici car je testais des trucs au début et j'ai clairement oublié ce magnifique artéfact
le site est monté autour de cette loi niaiseuse et je vais voir à régler ça.  Juste que si je ne
me rend pas à corriger ceci.. au moins vous ave une idée de pourquoi c'est là

-- finalement -- 
j'ai pu simplement tout regler en changeant le width de 50% a 100% et en reglant les width des photo gauche et photo droite
*/



  img{width:100%;            } 

/*
section de gauche de la page.  gère la photo de profil.  
*/
  .photo_gauche {
     width: 42%;  
    max-height: 500px;
    position: absolute;
    display: block;
    left: 10%;
    top: 17%;
    filter: drop-shadow(-6px 6px 0 rgba(255, 43, 214, 0.5))
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
        }
 
/*
section de droite de la page.  
*/
  .photo_droite {
    width:  50%; 
    position: relative;
    /* display:block; */
    padding-left: 30px;
    left: 47%;
    top: 17%;
    filter: drop-shadow(-6px 6px 0 rgba(255, 43, 214, 0.5))
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
        }

/*
pour le nom dans la barre de nav... je suis incertain pourquoi ca ne fonctionne pas quand il est dans stylenav
*/

.nom {
    position: absolute;
    left: 10%;
    bottom: -30%;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 3.4rem;

    color: #000000;
}