
 
  /* text écris dans la main */
  

  .Contact {
    position: absolute;
    rotate: -28deg;
    left: 17%;
    top: 42%;
    color: #000000;
  
  }
/* 
place mon texte et l'espace */

  .Contact ol li {
    list-style: none;
    text-align: center;
    margin-bottom: 15px; /* Élargit l'espace vertical entre les numéros */
    padding: 3%;
}
/* 
gere mon texte de ma liste vue que ce sont des a et non juste des li */

  .Contact ol li a{
    font-size: 2rem;
    font-family:Caveat, cursive;
    color: #000000;
    text-shadow:
      0 0 4px #000000,
      0 0 8px #565656,
      0 0 16px #000000;
  margin-bottom: 15px; 
}

/* 
effet quand on hover avec la souris */

  .Contact ol li a:hover{
    list-style: none;
    text-align: center;
    font-size: 2rem;
    font-family:Caveat, cursive;
    color: #000000;
    text-shadow:

      0 0 16px #ffffff;
  margin-bottom: 15px; /* Élargit l'espace vertical entre les numéros */
}

/*bloc message qui ressemble a un post it*/

.message {
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  background-color: #F0E82A;
  position: absolute;
  rotate: -2deg;
  left: 5%;
  bottom: -5%;
  color: #000000;
      filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
}

.message label {
  display: flex;
  margin: 8px;
  font-weight: bold;
}

/* 
boite pour mettre le texte */

.message textarea {
  width: 100%;
  height: 100px;
  font-size: 1rem;
  border: solid #ff2bd6;
  border-radius: 5px;
  resize: none;
  background-color: #f0be2a;
   
}


/*boutons*/
.message button[type="submit"] {
  background-color: #ff2bd6;
  color: #fff;
  border: 2px solid #F0E82A;
  padding: 10px 20px;
  font-family: 'Caveat', cursive;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
        filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
}

.message button[type="reset"] {
  background-color: #ff2bd6;
  color: #fff;
  border: 2px solid #F0E82A;
  padding: 10px 20px;
  font-family: 'Caveat', cursive;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
        filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 rgba(0, 229, 255, 0.5))
}

