
/*
bloc pour contenir les cv,blog et portfolio
*/
.cv {
  max-height: 500px;
  max-width: 500px;
  overflow-y: scroll;
  padding: 1rem;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  background-color: #F0E82Acc;
  position: absolute;
  rotate: -2deg;
  right: 8%;
  top: 25%;
  border-top-left-radius: 50px;
  color: #000000;
      filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 #00e5ff80)
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
}
/*
fiche de cv
*/
.fiche {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  text-align: left;
  background: #f0be2a;
  border: 6px solid #F0E82A;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: black;
        filter: drop-shadow(-6px 6px 0 #ff2bd680)
          drop-shadow(12px 12px 0 #00e5ff80)
          drop-shadow(2px -8px 0 rgba(0, 0, 0, 0.2));
}
/*
titre de la fiche
*/
.fiche dl  {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Caveat', cursive;
  font-weight: bold;

}
/*
texte de la fiche
*/
.fiche dl dd {
  margin: 0;
  font-size: 1.2rem;

}
