

      /*nav*/
.nav-sticker {
  width: 75%;
  margin: 40px auto;
  position: relative;
  transform: rotate(-1deg);
}

/*nav*/
/* épaisseur blanche du papier */
.nav-sticker::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(7px, 7px);
  background: white;
  border-radius: 28px;
  z-index: 0;
  
    clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    82% 100%,
    82% 100%,
    62% 100%,
    58% 70%,
    0% 70%);
}

/*nav*/
/* ombre générale */
.nav-sticker::after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate(14px, 14px);
  background: rgba(0, 0, 0, 0.18);
  border-radius: 28px;
  z-index: -1;

    clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    82% 100%,
    82% 100%,
    58% 100%,
    53% 70%,
    0% 70%);
    
}

/*nav*/
nav {
  position: relative;
  z-index: 1;

  min-height: 90px;
  background: #f0e82a;
  border: 8px solid white;
  border-radius: 28px;
  
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    82% 100%,
    82% 100%,
    63% 100%,
    60% 70%,
    0% 70%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;

  
}
/*nav*/
.menu-grid {
  width: 380px;
  margin-right: 13px;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);

  gap: 8px 10px;
  text-align: right;
}
/*nav*/
.menu-grid a {
  text-align: center;
  color: #111;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;

  text-shadow:
    0 0 4px #00e5ff,
    0 0 8px #00e5ff,
    0 0 16px #ff2bd6;


}
 /*nav*/

