.texte {
  position: absolute;
  max-height: 18rem;
  max-width: 25rem;
  overflow-y: scroll;
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  background-color: none;
  rotate: -2deg;
  left: 14%;
  bottom: 20%;
  color: #000000;

}